//=======================================================
//extends
//=======================================================
//%ust-default extended from utilities/extends
//%srt-default extended from utilities/extends

%filmstrip__container-default {
		position: absolute;
		visibility: hidden;
		border-top: 2px dashed black;
		border-bottom: 2px dashed black;
		background-color: #ffffff8c;
		bottom: -150;
		left: 0;
		opacity: 0;
		transition: bottom .75s, opacity .75s, visibility .75s, left .5s;
	}

%filmstrip__control-default {
	@extend %ust-default;
	position: absolute;
	z-index: placeOnLayer(midBack);
	font-size: em(32px);
	color: white;
	padding: em(16px, $context: 32px) em(8px, $context: 32px);
	background-color: #00000096;
	top: 50%;
	margin-top: em(-16px, $context: 32px);
	transition: color .25s, background-color .25s, left .5s;
	&:active {
		background-color: #000000DD;
		color: $color-primary;
	}
	&:hover {
		color: lighten($color-primary, 10%);
	}
}

//=======================================================
//element class styles
//=======================================================
.filmstrip {
	&__container {
		@extend %filmstrip__container-default;
	}

	&__control-left {
		@extend %filmstrip__control-default;
		border-radius: 35% 10% 10% 35%;
		left: em(8px, $context: 32px);
	}

	&__control-right {
		@extend %filmstrip__control-default;
		border-radius: 10% 35% 35% 10%;
		left: em(1360px, $context: 32px);
	}

	&__control-srt {
		@extend %srt-default;
	}

	&__cell {
		position: relative;
		display: inline-block;
		height: 150px;
		width: 200px;
	}

	&__selector-cell {
		position: absolute;
		z-index: placeOnLayer(back);
		top: 0;
		left: 0;
		height: 100%;
		width: 200px;
		background-color: $color-primary;
		opacity: .5;
		transition: all .5s;
	}

	&__image-wrapper {
		@include flexy($dir: column, $just: space-around);
		width: 100%;
    	height: 100%;
    	align-items: center;
	}

	&__image {
		position: absolute;
		max-height: 150px;
		max-width: 200px
	}

	&__image-overlay {
		position: absolute;
		z-index: placeOnLayer(midBack);
		background: #ffffff00;
		height: 100%;
		width: 100%;
		top: 0;
		transition: all .5s;

		&:hover {
			border: 2px solid white;
    		box-sizing: border-box;
			    background: linear-gradient(135deg,          
			    	#fff0 10%, #ffffffc2 15%, #fff0 17%,          
			    	#fff0 31%, #ffffff96 35%, #fff0 39%,          
			    	#fff0 47%, #ffffff61 50%, #fff0 53%,          
			    	#fff0 54%, #ffffff7a 55%, #fff0 58%,          
			    	#fff0 65%, #ffffff85 68%, #fff0 71%,          
			    	#fff0 85%, #ffffffad 87%, #fff0 88%);
		}
	}
}
//=======================================================
//modifier styles
//=======================================================

.filmstrip__container--slide-in {
	@extend %filmstrip__container-default;
	visibility: visible;
	bottom: 0;
	opacity: 1;
}

.filmstrip__control {
	&-left--highlight{
		@extend .filmstrip__control-left;
		color: $color-primary;
		background-color: #CCCCCCAA;
	}

	&-right--highlight{
		@extend .filmstrip__control-right;
		color: $color-primary;
		background-color: #CCCCCCAA;
	}
}